# 构建目录
build/
install/
bin/
lib/
cmake-build-debug/*

# 编译输出
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib

# mac 专属
._*

# IDE 配置文件
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# 临时文件
*.tmp
*~